JWT_SECRET=your_secret_key

CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# db config mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=your_database_name

RECAPTCHA_SECRET_KEY=your_secret_key

# email config'

GMAIL_USER=your_gmail
GMAIL_APP_PASSWORD=your_app_password