JWT_SECRET=your_secret_key

# db config mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=

RECAPTCHA_SECRET_KEY=your_secret_key

# email config'

GMAIL_USER=
GMAIL_APP_PASSWORD=